

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  
body {
    background-color: #f9ded7;
    height: 100vh;
}

#navbar {
  padding: 40px;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

#navbar.scrolling {
  padding: 20px;
  padding-bottom: 5px;
  backdrop-filter: blur(30px);
}

#navbar h2 {
  font-size: 1.2rem;
  padding-right: 30px;
}

.nav-content.pagelink {
  margin: 0px;
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-content p {
  cursor: pointer;
}

#navbar .nav-content{
  float: left;
  color: black;
}

#navbar a {
  color: #000;
  text-decoration: none;
}

#navbar .nav-content.right{
  float: right;
  color: black;
}

.mobile-hamburger img {
  display: none;
}

.btn-primary {
  color: #ccc;
  background-color: #264653;
  border-color: #264653;
}

.btn-primary:hover {
  color: #ccc;
  background-color: #1b3d4b;
  border-color: #1b3d4b;
}

.credits{
  padding: 30px 100px 10px 100px;
  margin: 40px 0px 40px 0px;
  background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: #cccccc;
  border-radius: 5px;
  text-align: center;
}

.articles{
  padding: 30px 100px 10px 100px;
  margin: 40px 0px 40px 0px;
  background: none no-repeat scroll 0 0 #264653;
  backdrop-filter: blur(5px);
  color: #cccccc;
  border-radius: 5px;
  text-align: center;
}

.articles-nobg{
  padding: 30px 100px 10px 100px;
  margin: 40px 0px 40px 0px;
  backdrop-filter: blur(5px);
  color: #000;
  text-align: center;
}

.articles-nobg p{
  font-weight: 500;
}

.blur {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
}

#brand-logo{
  margin: 0;
  margin-right: 5px;
}

.long{
  text-align: left;
  font-family: 'Zilla Slab',Palatino, Palatino Linotype,Arial !important;
  font-size: 1.05rem;
}

p.emphasis{
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar-icon{
  margin: 0px;
  padding: 0px 10px 3px 10px;
}

.background-image {
  background-position: center 15%;
  background-size: cover;
  background-color: #cb6f51;
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.common-large-content-container{
  padding: 20px 5.0875rem 1.45rem;
  text-align: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.common-content-container{
  padding: 0 5.0875rem;
  padding-top: 2rem;
  max-width: 1800px;
  text-align: center;
  margin: auto;
  height: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.common-content-container{
  font-weight: 500;
}

.common-content-with-nav-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 1rem 1rem 1.45rem 170px;
}

@media (max-width: 975px) {
  .credits{
    padding: 10px 10px 10px 10px;
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  }

  .articles{
    padding: 30px 30px 10px 30px;
  }

  .articles-nobg{
    padding: 30px 30px 10px 30px;
  }

  .common-large-content-container{
    padding: 0 1rem 1.45rem;
    max-width: 1660;
  }

  .common-content-container{
    padding: 1rem 1rem 1.45rem;
    max-width: 1800px;
  }

  .common-content-with-nav-container{
    padding: 1rem 1rem 1.45rem;
  }

  .nav-container{
    height: 0px;
    overflow-y: hidden;
    transition: all .3s ease;
  }

  .active .nav-container{
    height: auto;
    visibility: visible;
    overflow-y: scroll;
  }

  #navbar.scrolling {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
    backdrop-filter: blur(30px);
  }

  #navbar.active {
    padding: 40px;
    backdrop-filter: blur(30px);
  }

  #navbar .nav-content{
    float: none;
  }

  .nav-content-title-div{
    width: fit-content;
  }

  
  .mobile-hamburger img {
    height: 30px;
    right: 60px;
    top: 35px;
    width: auto;
    position: absolute;
    display: block;
    cursor: pointer;
  }

  .scrolling .mobile-hamburger img {
    height: 30px;
    right: 60px;
    top: 15px;
    width: auto;
    position: absolute;
    display: block;
  }
  
}