.credit{
    display: inline-block;
    height: auto;
    padding: 20px 0px 10px 10px;
    text-align: center;
    vertical-align:top;
    width: 200px;
}

.credit-container h5{
    font-weight: 600;
    font-size: 1rem;
}
.credit-container h5::before{
    height: 50px;
}

.credit ul{
    margin: 0px;
    padding: 0px;
}

.credit li{
    margin: 0px;
    list-style-type: none;
    font-size: medium;
}

.group-credit ul{
    margin: 0px;
    text-align: center;
    padding-left: 0px;
}

.group-credit li{
    font-size: medium;
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align:top
}

.group-detailed-credit ul{
    margin: 0px;
    text-align: center;
    padding-left: 0px;
}

.group-detailed-credit li{
    font-size: medium;
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align:top
}

.credit a{
    color: #cb6f51;
    text-decoration: none;
}
