html {
    min-width: 100%;
    min-height: 100%;
}
body {
    background-color: #d0d0d0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
}


#background {
    background-position: center 15%;
    background-size: cover;
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

a#link1, a#link2, a#link3 {
    display: block;
    overflow: hidden;
    position: absolute;   
    background: transparent;
    text-indent: -9999px;
    z-index: 1000;
}

#link1 {
    left: 10px;
    top: 300px;
    width: 45px;
    height: 84px;
}

#home-top-nav{
    width: 100%;
    padding: 40px;
}

#home-top-nav h2 {
    font-size: 1.5rem;
}

#home-top-nav .nav-content{
    float: left;
    color: black;
}

#home-top-nav .nav-content-right{
    float: right;
    color: black;
}


.arrow-button
{
  cursor: default;
}
.arrow
{
    animation: bounce 1s ease infinite;
    width: 2.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}
.arrow span
{
  top: 1.5rem;
  position: absolute;
  width: 1.35rem;
  height: .1rem;
  background-color: #000;
  display: inline-block;
  transition: all .3s ease;
}
.arrow span:first-of-type
{
  left: 0;
  transform: rotate(45deg);
}
.arrow span:last-of-type
{
  right: 0;
  transform: rotate(-45deg);
}

@keyframes bounce {
50% {
    transform: translateY(-50%);
}
}



#above-navigation{
    height: calc(100vh - 50px);
}
/* #e9c56ac9 */
#navigation {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #e76551c7; 
    backdrop-filter: blur(20px);
    color: #000;
    min-height: 412px;
}

#navigation h4:after
{
    content:' ';
    display:block;
    border:1px solid #000;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#navigation h4 {
    text-align: center;
    margin-bottom: 20px;
}
#navigation ul {
    margin: 0px;
    padding: 0px;
}
#navigation li {
    list-style-type: none;
    text-align: center;
}
#navigation a {
    color: #000;
    text-decoration: none;
}

#navigation a:hover {
    text-decoration: none;
}

#navigation li:hover {
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.home-nav-contents {
    max-width: 1000px;
}
.nav-category {
    vertical-align:top;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 5px;
}
.nav-category img {
    max-width: 90%;
    transition: all 0.3s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
}
  
  /* The Transformation */
  .nav-category:hover img {
    filter: brightness(50%);
    transform: scale(1.01);
  }

@media (max-width: 419px) {
    .nav-category {
        height: auto;
        padding-bottom: 40px;
    }
}